:root {
  --primary-color: #ffffff;
  --secondary-color: rgb(0, 150, 255); 
  --dark-color: rgb(0, 10, 102);
}
/* .learn-container {
  margin: 20px;
} */
.learn-content {
  margin: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.chapters {
  margin-top: 25px;
  min-width: 20vw!important;
}
.chapters .links {
  margin-left: 10px;
}
.chapter-link {
  width: 100%;
  margin: 0;
  padding: 8px;
  padding-left: 20px;
  background-color: white;
  border: 1px solid rgba(0, 150, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 150, 255, 0.1);
  transition: all 0.3s;
}
.chapter-link.active {
  background-color: rgba(0, 150, 255, 0.1);
  margin-left: 5px;
  color: var(--secondary-color);
}
.chapter-link:hover {
  margin-left: 5px;
  background-color: rgba(0, 150, 255, 0.1);
}
.chapter-link-a {
  text-decoration: none;
}
.chapter-link-a:hover {
  text-decoration: none;
}
.learn-content {
  min-width: 60vw;
  margin-left: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.chapter-content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.chapter-title {
  font-size: 3em;
  color: var(--secondary-color);
}
.chapter-subheading {
  font-size: 1.5em;
  margin-top: 10px;
  color: var(--secondary-color);
}
.content-link {
  min-width: 10vw;
}
.content-link button {
  width: 100%;
}
.img-div {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.img-div .caption {
  display: block;
  font-size: 0.8em;
  margin-top: 0.5em;
  color: var(--secondary-color);
}
.hline {
  width: 100%;
  border-top: 1px solid var(--secondary-color);
  margin-top: 20px;
  margin-bottom: 20px;
}
.chapter-content span.dark {
  color: var(--dark-color);
  font-weight: 600;
}
.chapter-content span.red {
  color: red;
}
.output-block {
  padding: 10px;
  background-color: rgba(0, 150, 255, 0.1);
  border: 1px solid rgba(0, 150, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 150, 255, 0.1);
}
table.confusion-matrix {
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid var(--secondary-color);
  width: 100%;
}
table.confusion-matrix th {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
}
table.confusion-matrix td {
  padding: 10px;
  border: 1px solid var(--secondary-color);
}
table.confusion-matrix td.correct {
  background-color: rgba(0, 255, 0, 0.1);
}
table.confusion-matrix td.incorrect {
  background-color: rgba(255, 0, 0, 0.1);
}

.chapter-links-header {
  display: none;
}

mjx-container mjx-math {
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .learn-content {
    min-width: 80vw;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .chapters {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 2;
    margin-top: 0px;
    min-width: 10vw!important;
  }
  .chapters button {
    margin: 5px;
  }

  .learn-container .links {
    margin-top: 40px;
  }
  .chapters.open {
    background-color: aliceblue;
  }
  .chapter-link {
    padding: 5px;
    padding-left: 10px;
  }
  .chapter-link.active {
    background-color: rgb(225, 243, 255);
    color: var(--secondary-color);
  }
  .chapter-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .chapter-title {
    font-size: 2em;
  }
  .chapter-subheading {
    font-size: 1.2em;
  }
  .content-link {
    min-width: 5vw;
  }
  .content-link button {
    width: 100%;
  }
  .img-div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .img-div .caption {
    font-size: 0.6em;
  }
  .hline {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .chapter-content span.dark {
    font-weight: 400;
  }
  table.confusion-matrix {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  table.confusion-matrix th {
    padding: 5px;
  }
  table.confusion-matrix td {
    padding: 5px;
  }
  .chapter-links-header {
    display: flex;
    justify-content: end;
    margin: 2px;
    padding: 5px;
  }
  .chapter-links-header button {
    position: fixed;
    top: 10vh;
    left: 0;
    color: var(--primary-color);
  }
  .toggle-chapter-links {
    position: sticky;
    top: 0;
    right: 0;
    border: 1px solid var(--secondary-color)!important;
    border-radius: 5px!important;
    width: 30px!important;
    height: 30px!important;
    color: var(--secondary-color)!important;
  }
  #chapter-link-open {
    margin-top: 0px;
    margin-left: 0px;
    background-color: transparent;
    border: 0!important;
    position: sticky!important;
    top: 0;
    right: 0;
  }
  #chapter-link-close {
    background-color: transparent;
    border: 0!important;
  }
  .img-div.no-of-clusters {
    display: none;
  }
}
