# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.DS_Store
node_modules/

# Database 
*.sqlite3
*.db

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/

# Media files
media/*.*

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.*
myenv/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Machine Learning
# Data files
others/*.csv
others/*.xlsx
*.h5
*.hdf5
*.pkl
*.joblib

# Model files
*.ckpt
*.pb
*.pt
*.pth
*.onnx

# TensorBoard log files
logs/
events.out.tfevents.*

# Other ML-related files
*.npy
*.npz
