{% extends "learn/layout.html" %}
{% load static %}

{% block title %}Introduction{% endblock %}

{% block body %}
<div>
  <h1 class="chapter-title">Machine Learning</h1>
  <div class="chapter-content">
    <p>
      <span class="dark">Machine learning (ML)</span> is a subset of artificial intelligence (AI) that focuses on building systems capable of learning from data and improving their performance without explicit programming. It involves designing algorithms and models that can process and analyze vast amounts of data to uncover patterns, make predictions, or automate decisions.
    </p>
    <p>
      Machine learning is fundamentally about teaching machines to learn from experience. Unlike traditional programming, where rules are explicitly programmed, machine learning systems derive rules and patterns directly from data. This enables them to handle complex, real-world problems where explicit instructions are impractical.
    </p>
    <div class="img-div">
      <img src="{% static 'learn/img/1_ml-ai-dl.png' %}" alt="AI, Machine Learning, Deep Learning" style="width:300px;">
    </div>
    <p>
      These systems improve their accuracy over time as they process more data. They make decisions or predictions without requiring constant human intervention.
      Machine learning is used across various domains, including healthcare, finance, transportation, and entertainment.
    </p>
    <h2 class="chapter-subheading">Types of Machine Learning</h2>
    <div class="table-responsive">
      <table class="table table-hover table-bordered mt-3">
        <thead class="thead">
          <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Example Algorithms</th>
            <th>Applications</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Supervised Learning</th>
            <td>
              The system learns from <span class="red">labeled datasets</span>, where input-output pairs are provided. Types: <span>Classification, Regression</span>.
            </td>
            <td>Linear Regression, Decision Trees, Support Vector Machines</td>
            <td>Spam Email Detection, Stock Price Prediction, Credit Risk Assessment</td>
          </tr>
          <tr>
            <th>Unsupervised Learning</th>
            <td>The system identifies patterns or structures in <span class="red">unlabeled data</span>.</td>
            <td>K-Means Clustering, Principal Component Analysis</td>
            <td>Customer Segmentation, Recommendation Systems, Fraud Detection</td>
          </tr>
          <tr>
            <th>Reinforcement Learning</th>
            <td>The system learns by interacting with an environment and receiving feedback in the form of rewards or penalties.</td>
            <td>Q-Learning, Deep Q-Networks</td>
            <td>Robotics, Game Playing</td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
  <div class="content-links d-flex justify-content-end">
    <a href="{% url 'chapter' 'steps' %}" class="content-link">
      <button class="btn btn-primary">
        Next
      </button>
    </a>
  </div>
</div>
{% endblock %}
