{% extends "learn/layout.html" %}
{% load static %}

{% block title %}Machine Learning Workflow{% endblock %}

{% block body %}
<div>
  <h1 class="chapter-title">Machine Learning Workflow</h1>
  <div class="chapter-content">
    <p>
      The process of building a machine learning model involves a series of structured steps that transform raw data into actionable insights.
    </p>

    <h2 class="chapter-subheading">Steps in Machine Learning</h2>
    <div>
      <div class="container mt-4">
        <div class="list-group">
          <div class="list-group-item">
            <span class="dark">1. Problem Definition:</span> Clearly outline the problem you are trying to solve. This step includes identifying the objective (e.g., classification, regression, or clustering) and the expected outcomes.
          </div>
          <div class="list-group-item">
            <span class="dark">2. Data Collection:</span> Gather data from reliable sources. Data can be collected from databases, APIs, user-generated content, or sensors. The quality and relevance of the data directly impact the model's performance.
          </div>
          <div class="list-group-item">
            <span class="dark">3. Data Preprocessing:</span> Clean and prepare the data for analysis. This includes:
            <ul>
              <li>Handling Missing values</li>
              <li>Encoding Categorical Data,</li>
              <li>Scaling Numerical Features</li>
              <li>Removing Duplicates.</li>
            </ul>
          </div>
          <div class="list-group-item">
            <span class="dark">4. Feature Engineering:</span> Select or create the most relevant features for modelling. Feature engineering may include feature selection, extraction, or transformation.
          </div>
          <div class="list-group-item">
            <span class="dark">5. Model Selection:</span> Choose an algorithm based on the problem type and dataset. For example, use linear regression for regression tasks, decision trees for classification, or k-means clustering for unsupervised learning.
          </div>
          <div class="list-group-item">
            <span class="dark">6. Model Training:</span> Train the model on labeled data (if supervised learning) or allow it to discover patterns in data (if unsupervised learning). The model learns by minimizing the error it makes while training.
          </div>
          <div class="list-group-item">
            <span class="dark">7. Model Evaluation:</span> Test the model using metrics such as accuracy, precision, recall, or R-squared. Evaluate its performance on unseen data.
          </div>
          <div class="list-group-item">
            <span class="dark">8. Hyperparameter Tuning:</span> Fine-tune model parameters (settings that control the learning process) to improve performance.
          </div>
          <div class="list-group-item">
            <span class="dark">9. Deployment:</span> Deploy the model into production, integrating it into applications or systems for real-time predictions or decision-making.
          </div>
          <div class="list-group-item">
            <span class="dark">10. Monitoring and Maintenance:</span> Continuously monitor the model's performance. Update it periodically with new data to address model drift (degradation of performance due to changes in the data) and ensure accuracy.
          </div>
        </div>
      </div>
    </div>

    <div class="img-div">
      <img src="{% static 'learn/img/2_ml_workflow.png' %}" alt="Machine Learning Workflow" style="width:100%;">
      <span class="caption">Machine Learning Workflow</span>
    </div>
  </div>

  <div class="content-links d-flex justify-content-between">
    <a href="{% url 'chapter' 'introduction' %}" class="content-link">
      <button class="btn btn-dark">
        Previous
      </button>
    </a>
    <a href="{% url 'chapter' 'preprocessing' %}" class="content-link">
      <button class="btn btn-primary">
        Next
      </button>
    </a>
  </div>
</div>
{% endblock %}
