{% extends "main/layout.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
<div class="fade-in page">
  <div class="d-flex flex-wrap about-container">
    <div class="about-content">
      <p class="m-2">
        <strong>Expert System</strong> is an open source machine learning playground that allows you to explore and experiment with different datasets and machine learning algorithms. This platform provides a user-friendly interface to train, test, and evaluate machine learning models without writing a single line of code.
      </p>
      <p class="m-2">
        Key features of the application include support for <strong>classification</strong>, <strong>regression</strong>, and <strong>clustering</strong> algorithms, with detailed performance metrics and interactive visualizations such as cluster plots and correlation heatmaps. Users can upload their own datasets or choose from preloaded datasets to start building models. The platform also provides preprocessing options such as <strong>categorical encoding</strong>, <strong>data scaling</strong>, and <strong>handling missing values</strong>, ensuring clean and ready-to-use datasets for model training.
      </p>
      <p class="m-2">
        Expert System is built using <strong>Django</strong>, a high-level Python web framework, and <strong>Scikit-learn</strong>, a popular machine learning library. The frontend employs HTML, CSS, JavaScript, and Bootstrap for a responsive and modern user interface, with interactive features powered by D3.js and Plotly.js for advanced data visualizations. Notifications and dynamic interactivity are implemented using libraries like Toastify and jQuery.
      </p>
      <p class="m-2">
        The application is hosted on <strong>Microsoft Azure</strong>, and uses <strong>SQLite</strong> for temporary data storage.
      </p>
      <p class="m-2">
        For developers and enthusiasts, the platform includes dynamically generated Python code for every model trained, allowing users to understand how the models are created programmatically. The future scope of the project includes expanding support for neural networks with a visual interface for creating and training custom architectures.
      </p>
      <p class="m-2">
        The source code for this project is available on <a href="https://github.com/akshay-rajan/expertsystem" alt="Github Link">GitHub</a>. Feel free to contribute or give feedback!
      </p>
    </div>
    <div class="about-img">
      <img src="{% static 'main/img/es_icon.png' %}" alt="About Image" id="about-logo" class="img-fluid" />
    </div>
  </div>
</div>
{% endblock %}
