{% extends "main/layout.html" %}
{% load static %}

{% block title %}Input Datasets{% endblock %}

{% block body %}
<div class="loader justify-content-center align-items-center d-none">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="fade-in page">
  <div class="container input-container">
    <div class="container-2">
      <h1 class='display-3 title'>Input Datasets</h1>
      <div>
        <form id="ml-form" method="post" enctype="multipart/form-data" class="form form-group mt-3" onsubmit="return validateForm()" autocomplete="off">
          {% csrf_token %}
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div class="dataset-div">
                {% if uploaded_file %}
                <div class="form-group mt-4 mb-4">
                  <div>
                    <span>{{ uploaded_filename }}</span>
                    <img src="/static/main/img/tick.svg" class="d-inline ml-2 icon tick" alt="tick">
                  </div>
                  <button type="button" class="btn btn-outline-primary delete mt-4" id="clear-btn" onclick="clearFile(event)">
                    <img src="/static/main/img/bin.png" class="mr-2 icon bin" alt="">Clear
                  </button>
                  <button type="button" class="btn btn-primary mt-4" id="uploaded-btn" onclick="handleDataset(event)">
                    Next
                  </button>
                </div>
                {% else %}
                <div class="form-group dataset-selection mt-4 mb-4">
                  <div class="dataset-selection-upload selected">
                    <input type="radio" id="option-upload" name="dataset-option" value="upload" checked onchange="handleDatasetOptionChange(event)">
                    <label for="option-upload">Upload Your Dataset</label>
                  </div>
                  <div class="dataset-selection-preload">
                    <input type="radio" id="option-preloaded" name="dataset-option" value="choose" onchange="handleDatasetOptionChange(event)">
                    <label for="option-preloaded">Use a Preloaded Dataset</label>
                  </div>
                </div>
                
                <div class="form-group" id="upload-div">
                  <input type="file" name="dataset" id="dataset" class="form-control" onchange="handleFileChange(event)" />
                </div>
                {% endif %}
                
                <div class="form-group d-none" id="preloaded-div">
                  <select name="preloaded-dataset" id="preloaded-dataset" class="form-select" onchange="handlePreloadedFileChange(event)">
                    <option value="" selected disabled>Select a Dataset</option>
                    {% for dataset in datasets %}
                    <option value="{{ dataset }}">{{ dataset }}</option>
                    {% endfor %}
                  </select>
                </div>                
              </div>
            </div>
          </div>
          {% if not uploaded_file %}
          <button type="button" class="btn btn-primary mt-4" id="upload-btn" disabled onclick="handleDataset(event)">
            Next
          </button>
          {% endif %}
          
          <div class="fade-in">
            <div class="form-group mb-3 d-none" id="features-div">
              <label for="target" class="form-label">Select Features</label>
              <div class="form-check" id="features">
                {% comment %} Checkboxes will be here populated by js {% endcomment %}
              </div>
            </div>
            
            {% if hyperparameters %}
            <div class="hyperparameters d-none" id="hyperparameter-div">
              {% for key, param in hyperparameters.items %}
                {% if param.field == "select" %}
                  <div class="form-group mb-3" id="{{ param.name }}-div">
                    <label for="{{ param.name }}" class="form-label">{{ param.name }}</label>
                    <select id="{{ param.name }}" name="{{ param.name }}" class="hyperparameter form-select dropdown">
                      <option value="" selected disabled>Select</option>
                      {% for option in param.options %}
                        <option value="{{ option }}" {% if option == param.default %}selected{% endif %}>{{ option }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% elif param.field == "checkbox" %}
                  <div class="form-check" id="{{ param.name }}-div">
                    <input type="checkbox" class="form-check-input" id="{{ param.name }}" name="{{ param.name }}" {% if param.default %}checked{% endif %}>
                    <label class="form-check-label" for="{{ param.name }}">{{ param.name }}</label>
                  </div>
                {% else %}
                  <div class="form-group mb-3" id="{{ param.name }}-div">
                    <label for="{{ param.name }}" class="form-label">{{ param.name }}</label>
                    <input type="{{ param.type }}" id="{{ param.name }}" name="{{ param.name }}" class="hyperparameter form-control" value="{{ param.default }}">
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}

            {% if optional_parameters %}
            <div class="accordion optional-div optional-parameters d-none mt-4" id="optionalAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Optional
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#optionalAccordion">
                  <div class="accordion-body">
                    {% for param in optional_parameters %}
                      <div class="mb-3" id="{{ param.name }}-div">
                        {% if param.field == "select" %}
                          <label for="{{ param.name }}" class="form-label">{{ param.name }}</label>
                          <select id="{{ param.name }}" name="{{ param.name }}" class="form-select">
                            <option value="" selected disabled>Select</option>
                            {% for option in param.options %}
                            <option value="{{ option }}" {% if option == param.default %}selected{% endif %}>{{ option }}</option>
                            {% endfor %}
                          </select>
                        {% elif param.field == "checkbox" %}
                          <div class="form-check" id="{{ param.name }}-div">
                            <input type="checkbox" class="form-check-input" id="{{ param.name }}" name="{{ param.name }}" {% if param.default %}checked{% endif %}>
                            <label class="form-check-label" for="{{ param.name }}">{{ param.name }}</label>
                          </div>
                        {% else %}
                          <label for="{{ param.name }}" class="form-label d-inline">{{ param.name }}</label>
                          <input type="{{ param.type }}" class="form-control d-inline" id="{{ param.name }}" name="{{ param.name }}" value="{{ param.default }}" placeholder="Enter {{ param.name }}">
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <button type="submit" id="build-btn" class="btn btn-primary mt-4 d-none">
              <div class="d-none" id="build-btn-div1">
                Build
              </div>
              <div class="spinner-grow text-light" id="build-btn-div2" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
    
        </form>
      </div>
    </div>
  
    <div class="d-flex heatmap-container">
      <div class="right justify-content-center heatmaps" id="canvas-1" onclick="toggleHeatmaps()"></div>
      <div id="plotly-heatmap" class="right justify-content-center d-none heatmaps"></div>
    </div>

  </div>

  <div class="container d-none" id="scatter-container">
    <div class="d-flex justify-content-center">
      <div class="justify-content-center" id="canvas-2">
        <div id="plotly-scatter" class="left justify-content-center scatter"></div>
        <div class="right scatter-buttons">
          <div class="m-2">
            <label for="x-axis-select" class="form-label d-inline">X-Axis:</label>
            <select id="x-axis-select" class="form-select d-inline">
              <!-- Dynamically populate options from your dataset columns -->
            </select>
          </div>
        
          <div class="m-2">
            <label for="y-axis-select" class="form-label d-inline">Y-Axis:</label>
            <select id="y-axis-select" class="form-select d-inline">
              <!-- Dynamically populate options from your dataset columns -->
            </select>
          </div>
          
          <div class="m-2 d-flex align-items-end">
            <button id="generate-scatter-btn" class="btn btn-primary bubbly-button" onclick="generateScatter()">Plot</button>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src={% static "main/js/input_clustering.js" %}></script>
{% endblock %}
