{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Preprocessing{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'main/css/preprocessing.css' %}">
{% endblock %}

{% block body %}
<div class="fade-in">

  <div class="d-flex align-items-center">
    <h2 class="m-2 mb-4 display-4 title" style="display: inline;">Preprocessing</h2>
    <button class="guide-button" onclick="toggleGuide()">?</button>
  </div>
  
  <div class="container">
    <div class="row">
      <!-- Preprocessing Form Section (Left Column) -->
      <div class="col-lg-4 col-md-6">
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
          {% csrf_token %}
  
          <!-- Upload dataset section -->
          <div class="mb-4">
            <div class="mb-4 form-group preprocessing-dataset-selection">
              <div class="dataset-selection-upload selected">
                <input type="radio" id="option-upload" name="dataset-option" value="upload" checked onchange="handleDatasetOptionChange(event)">
                <label for="option-upload">Upload Your Dataset</label>
              </div>
              <div class="dataset-selection-preload">
                <input type="radio" id="option-preloaded" name="dataset-option" value="choose" onchange="handleDatasetOptionChange(event)">
                <label for="option-preloaded">Use a Preloaded Dataset</label>
              </div>
            </div>
          
            <!-- Upload Section -->
            <div id="upload-div">
              <div class="mb-3">
                <input type="file" id="file" name="file" accept=".csv" class="form-control" required onchange="handleChange(event)">
              </div>
            </div>
          
            <!-- Preloaded Datasets Section -->
            <div class="mb-3 form-group d-none" id="preloaded-div">
              <select name="preloaded-dataset" id="preloaded-dataset" class="form-select" onchange="handlePreloadedFileChange(event)">
                <option value="" selected disabled>Select a Dataset</option>
                {% for dataset in datasets %}
                <option value="{{ dataset }}">{{ dataset }}</option>
                {% endfor %}
              </select>
            </div>
          
            <button type="button" class="btn btn-primary" id="upload-btn" disabled onclick="initiatePreprocessing(event)">Next</button>
          </div>
          
  
          <div class="sections d-none">
            <!-- Section: Missing Values -->
            <div id="missing_value_section">
              <h4>Missing Value Options</h4>
              <div class="mb-0">
                  <label for="missing_value_strategy" class="form-label">Missing Value Strategy</label>
                  <select id="missing_value_strategy" name="missing_value_strategy" class="form-select">
                      <option value="None" selected disabled>None</option>
                      <option value="mean">Fill with Mean</option>
                      <option value="median">Fill with Median</option>
                      <option value="most_frequent">Most Frequent</option>
                      <option value="drop">Remove Rows</option>
                  </select>
              </div>
              <div class="mb-3">
                  <label id="colselect" class="form-label"></label>
                  <div id="feature_selection" class="form-check">
                      <!-- Dynamic checkboxes for columns will be here -->
                  </div>
                  <div class="mt-3">
                      <button type="button" class="btn btn-primary" id="missing_value_strategybtn">Apply</button>
                  </div>
              </div>
            </div>
    
            <!-- Section: Encoding -->
            <div id="encoding_section" style="display: none;">
              <h4>Encoding Options</h4>
              <div class="mb-0">
                  <label for="encoding_strategy" class="form-label">Encoding Strategy</label>
                  <select id="encoding_strategy" name="encoding_strategy" class="form-select">
                      <option value="None" selected disabled>None</option>
                      <option value="onehot">One-Hot Encoding</option>
                      <option value="label">Label Encoding</option>
                  </select>
              </div>
              <div class="mb-3">
                  <label id="enc_colselect" class="form-label"></label>
                  <div id="encoding_selection" class="form-check">
                      <!-- Dynamic checkboxes for encoding selection will be here -->
                  </div>
                  <div class="mt-3">
                      <button type="button" class="btn btn-primary" id="encoding_strategybtn">Apply</button>
                  </div>
              </div>
            </div>
    
            <!-- Section: Scaling -->
            <div id="scaling_section" style="display: none;">
              <h4>Scaling Options</h4>
              <div class="mb-3">
                  <label for="scaling_strategy" class="form-label">Scaling Strategy</label>
                  <select id="scaling_strategy" name="scaling_strategy" class="form-select">
                      <option value="None" selected disabled>None</option>
                      <option value="standard">Standardization</option>
                      <option value="normalize">Normalization</option>
                  </select>
              </div>
              <div class="mb-3">
                <label id="scale_colselect" class="form-label"></label>
                <div id="scale_selection" class="form-check">
                  <!-- Dynamic checkboxes for scaling selection will be here -->
                </div>
                <div class="mt-3">
                  <button type="button" class="btn btn-primary" id="scaling_strategybtn">Apply</button>
                </div>
              </div>
            </div>
    
            <a href="{% url 'download_csv' %}" class="btn btn-outline-primary mt-4 mb-4 w-100">Download Updated Dataset</a>
          </div>
        </form>
      </div>
  
      <!-- Preview Table Section (Middle Column) -->
      <div class="col-lg-6 col-md-6 position-relative">
        <button class="info-button d-none" id="data-info" onclick="toggleInfo()">?</button>
        <div id="csv-preview-container" class="table-responsive" style="overflow:auto; height:500px; width:100%;">
          <!-- JavaScript will render data here as table -->
        </div>
      </div>      
  
      <!-- Buttons Section (Right Column) -->
      <div class="col-lg-2 d-flex flex-column p-2 align-items-end">
        <button type="button" class="d-none sections-btn btn btn-outline-primary disabled mb-auto w-100" id="missing_value_section-btn" onclick="showSection('missing_value_section')" data-bs-toggle="popover" data-bs-title="Fill Missing Values" data-bs-content="Fill missing values in the data with mean, median or mode. Otherwise drop the rows.">Missing Value</button>
        <button type="button" class="d-none sections-btn btn btn-primary mb-auto w-100" id="encoding_section-btn" onclick="showSection('encoding_section')" data-bs-toggle="popover" data-bs-title="Encoding" data-bs-content="Transform categorical variables into a numerical format using techniques like one-hot encoding or label encoding.">Encoding</button>
        <button type="button" class="d-none sections-btn btn btn-primary mb-auto w-100" id="scaling_section-btn" onclick="showSection('scaling_section')"  data-bs-toggle="popover" data-bs-title="Scaling" data-bs-content="Normalize or standardize your data to bring features onto a similar scale, improving model performance.">Scaling</button>
      </div>
    </div>
  </div>

  <div class="training-btn-div" id="training-btn-div">
    <button class="next-btn" onclick="toggleCategories()"></button>
  </div>
  
  <div class="category-display d-none" id="category-display">
    <button class="close-btn" onclick="toggleCategories()">×</button>
    <div class="d-flex flex-column justify-content-center">
      <div class="d-flex justify-content-center align-items-center">
        <div class="">
          <div class="d-flex justify-content-center flex-wrap">
  
            <div class="card m-2 bg-light category-card" style="width: 18rem;">
              <div class="card-body d-flex flex-column align-items-start">
                <div class="start">
                  <div class="d-flex">
                    <img src="{% static 'main/img/classification.png' %}" alt="" class="category-logo me-2">
                    <div>
                      <h5 class="card-title">Classification</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Supervised Learning</h6>
                    </div>
                  </div>
                  <p class="line"></p>
                </div>
                <div class="mid">
                  <p class="card-text">
                    Classify data points into predefined categories.
                  </p>
                </div>
                <div class="last mt-auto">
                  <a href="{% url 'classification' %}" class="">Go →</a>
                </div>
              </div>
            </div>
  
            <div class="card m-2 bg-light category-card" style="width: 18rem;">
              <div class="card-body d-flex flex-column align-items-start">
                <div class="start">
                  <div class="d-flex">
                    <img src="{% static 'main/img/regression.png' %}" alt="" class="category-logo me-2">
                    <div>
                      <h5 class="card-title">Regression</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Supervised Learning</h6>
                    </div>
                  </div>
                  <p class="line"></p>
                </div>
                <div class="mid">
                  <p class="card-text">
                    Predict a continuous numerical value.
                  </p>
                </div>
                <div class="last mt-auto">
                  <a href="{% url 'regression' %}" class="">Go →</a>
                </div>
              </div>
            </div>
  
            <div class="card m-2 bg-light category-card" style="width: 18rem;">
              <div class="card-body d-flex flex-column align-items-start">
                <div class="start">
                  <div class="d-flex">
                    <img src="{% static 'main/img/clustering.png' %}" alt="" class="category-logo me-2">
                    <div>
                      <h5 class="card-title">Clustering</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Unsupervised Learning</h6>
                    </div>
                  </div>
                  <p class="line"></p>
                </div>
                <div class="mid">
                  <p class="card-text">
                    Identify natural groupings within your data based on similarities.
                  </p>
                </div>
                <div class="last mt-auto">
                  <a href="{% url 'clustering' %}" class="">Go →</a>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="{% static 'main/js/preprocessing.js' %}"></script>
{% endblock %}